@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --white: #fff;
    --black: #000;
    --pink: #ff7a7a;
    --purple: #6055a5;
    --bg_desktop: url(/bg-intro-desktop.png);
    --bg_mbl: url(/bg-intro-mobile.png);
    --green: #38cc8c;
    --silver: #ccc;
    --grayish: #b9b6d3;
    --error: url(/icon-error.svg);
    --visible: hidden;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

main {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--pink);
    background-image: var(--bg_desktop);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 100px;
    gap: 20px;
}

.notice {
    padding: 15px 30px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    background-color: var(--purple);
    font-size: 1rem;
    box-sizing: border-box;
}

.thick {
    font-weight: 600;
}

.shadow {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.35);
}

.intro h1 {
    font-size: 3.5rem;
    line-height: 4rem;
}

.intro p {
    font-size: 1rem;
}

.form-body {
    padding: 30px;
    background-color: var(--white);
    border-radius: 5px;
    width: 100%;
    margin: 30px auto 0;
    box-sizing: border-box;
}

form :is(input,
button) {
    display: block;
    width: 100%;
    margin: 15px 0 0;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600
}

input {
    border: 1px solid var(--silver);
}

input:focus {
    outline: none;
    border: 1px solid var(--purple);
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: var(--green);
    border: none;
    cursor: pointer;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.4) inset;
    color: var(--white);
    text-transform: uppercase;
}

.form-body .terms {
    font-size: 0.8rem;
    text-align: center;
    color: var(--grayish);
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: var(--pink);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.err_msg {
    float: right;
    margin: 10px;
    color: var(--pink);
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    visibility: var(--visible);
}

.err_msg::after {
    content: "";
    position: absolute;
    background-image: var(--error);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: -48px;
    right: 10px;
    visibility: var(--visible);
}

@media screen and (max-width:900px) {
    main {
        padding: 50px 0;
    }
    .grid {
        grid-template-columns: 1fr;
        padding: 0 30px;
        gap: 0px;
    }
    .intro {
        text-align: center;
        margin-bottom: 30px;
    }
    .intro h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width:480px) {
    main {
        padding: 50px 0;
        background-image: var(--bg_mbl);
        overflow: visible
    }
    .grid {
        grid-template-columns: 1fr;
        padding: 0 15px;
        gap: 0px;
    }
    .form-body {
        padding: 20px;
    }
    .intro {
        text-align: center;
        margin-bottom: 30px;
    }
    .intro h1 {
        font-size: 2rem;
        line-height: normal;
    }
    .notice {
        font-size: 1.3rem;
        padding-left: 20px;
        padding-right: 20px;
    }
}